<section class="contact" id="contact">
  <div class="container contact-container">

    <div class="contact-content">
      <div class="contact-text-content">
        <h2 class="contact-title">Contact</h2>
        <p class="contact-subtitle">Ready to challenge your vocabulary?</p>
      </div>

      <div class="contact-mail-wrapper">
        <div class="contact-mail-info">
          <svg class="contact-mail-icon desktop-only" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="8" width="24" height="16" rx="4" stroke="#141B34" stroke-width="2"/>
            <path d="M4 10L16 17L28 10" stroke="#141B34" stroke-width="2"/>
          </svg>
          <span class="contact-mail-text">info@coretrail.online</span>
        </div>

        <a href="mailto:info@coretrail.online" class="contact-btn">
          <span class="contact-btn-text desktop-only">Contact Us</span>

          <svg class="contact-btn-icon mobile-only" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3" y="6" width="18" height="12" rx="3" stroke="#141B34" stroke-width="1.5"/>
            <path d="M3 8L12 13L21 8" stroke="#141B34" stroke-width="1.5"/>
          </svg>
        </a>
      </div>
    </div>

    <div class="contact-image-wrapper">
      <picture>
            <source
            srcset="
              ./img/contact/contact-screen-desktop.png   1x,
              ./img/contact/contact-screen-desktop-@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/contact/contact-screen-mobile.png     1x,
              ./img/contact/contact-screen-mobile-@2x.png 2x
            "
            media="(max-width: 1439px)"
          />





        <img src="./img/contact/contact-screen-mobile.png" alt="Royal Words Game Screen" loading="lazy" />
      </picture>
    </div>

  </div>
</section>