<section class="features" id="features">
  <div class="container features-container">

    <div class="features-header">
      <h2 class="features-title">Features</h2>
      <p class="features-subtitle">Designed for relaxing and intelligent gameplay</p>
    </div>

    <ul class="features-list">

      <li class="feature-item feature-card-red">
        <div class="feature-image-wrapper feature-image-left">
          <picture>
            <source
            srcset="
              ./img/features/royal-custle-desktop.png     1x,
              ./img/features/royal-custle-desktop-@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/features/royal-custle-mobile.png      1x,
              ./img/features/royal-custle-mobile-@2x.png  2x
            "
            media="(max-width: 1439px)"
          />

            <img src="./img/features/royal-custle-mobile.png" alt="Royal Castle" loading="lazy" />

          </picture>


        </div>
        <div class="feature-content">
          <h3 class="feature-item-title">Elegant Royal Visual Style</h3>
          <p class="feature-item-desc">The backgrounds look pretty fancy - we went all out with the royal theme.</p>
          <a href="https://play.google.com/store/apps/details?id=com.DinozGames.RoyalWordsPuzzle&hl=en&gl=us" class="feature-btn" target="_blank" rel="noopener noreferrer">Play Now</a>
        </div>
      </li>

      <li class="feature-item feature-card-white">
        <div class="feature-content">
          <h3 class="feature-item-title">Vocabulary-Based Challenges</h3>
          <p class="feature-item-desc">You'll get better at spotting words without even realizing it.</p>
        </div>
        <div class="feature-image-wrapper feature-image-right">

              <picture>
            <source
            srcset="
              ./img/features/magic-book-desktop.png     1x,
              ./img/features/magic-book-desktop-@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/features/magic-book-mobile.png      1x,
              ./img/features/magic-book-mobile-@2x.png  2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/features/magic-book-mobile.png" alt="Magic Spell Book" loading="lazy" />



          </picture>
        </div>
      </li>

      <li class="feature-item feature-card-red">
        <div class="feature-image-wrapper feature-image-left">
          <picture>
              <source
            srcset="
              ./img/features/magic-hand-desktop.png     1x,
              ./img/features/magic-hand-desktop-@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/features/magic-hand-mobile.png      1x,
              ./img/features/magic-hand-mobile-@2x.png 2x
            "
            media="(max-width: 1439px)"
          />


            <img src="./img/features/hand.png" alt="Magical Hand" loading="lazy" />
          </picture>
        </div>
        <div class="feature-content">
          <h3 class="feature-item-title">Smooth Mobile Experience</h3>
          <p class="feature-item-desc">Just swipe and tap - it works exactly like you'd expect.</p>
          <a href="https://play.google.com/store/apps/details?id=com.DinozGames.RoyalWordsPuzzle&hl=en&gl=us" class="feature-btn" target="_blank" rel="noopener noreferrer">Play Now</a>
        </div>
      </li>

      <li class="feature-item feature-card-white">
        <div class="feature-content">
          <h3 class="feature-item-title">Puzzles that actually get more interesting</h3>
          <p class="feature-item-desc">New layouts and mechanics appear gradually.</p>
        </div>
        <div class="feature-image-wrapper feature-image-right">
 <picture>
            <source
            srcset="
              ./img/features/features-puzzles-desktop.png    1x,
              ./img/features/features-puzzles-mobile-@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/features/features-puzzles-mobile.png     1x,
              ./img/features/features-puzzles-mobile-@2x.png 2x
            "
            media="(max-width: 1439px)"
          />

<img src="./img/features/features-puzzles-mobile.png" alt="Treasure Chest with Letters" loading="lazy" />


          </picture>



        </div>
      </li>

      <li class="feature-item feature-card-red">
        <div class="feature-image-wrapper feature-image-left">
          <picture>
 <source
            srcset="
              ./img/features/feature-king-desktop.png    1x,
              ./img/features/feature-king-desktop-@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/features/feature-king-mobile.png     1x,
              ./img/features/feature-king-mobile-@2x.png 2x
            "
            media="(max-width: 1439px)"
          />



            <img src="./img/features/feature-king-mobile.png" alt="King Character" loading="lazy" />
          </picture>
        </div>
        <div class="feature-content">
          <h3 class="feature-item-title">Calm Gameplay Flow</h3>
          <p class="feature-item-desc">The experience remains relaxing while still mentally engaging.</p>
          <a href="https://play.google.com/store/apps/details?id=com.DinozGames.RoyalWordsPuzzle&hl=en&gl=us" class="feature-btn" target="_blank" rel="noopener noreferrer">Play Now</a>
        </div>
      </li>

    </ul>
  </div>
</section>