<footer class="footer">
  <div class="container">
    <a class="footer-nav-logo" href="./index.html" aria-label="Site logo">
      <img src="{=$icon-logo}" width="72" height="72" alt="Logo" />
    </a>

    <a
      class="footer-nav-item footer-privacy"
      href="./page-2.html"
      rel="noopener noreferrer"
    >
      Privacy Policy
    </a>

    <a
      class="footer-nav-item footer-terms"
      href="./page-3.html"
      rel="noopener noreferrer"
    >
      Terms of Service
    </a>

    <p class="footer-nav-item footer-rights">
      coretrail.online - All rights reserved.
    </p>
  </div>
</footer>
