<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="logo-icon" width="72" height="72">
          <use href="{=$icon-logo}"></use>
        </svg>
      </a>

      <ul class="list-nav">
        <li class="item-list-nav">
          <a class="item-link" href="#about">About</a>
        </li>
        <li class="item-list-nav">
          <a class="item-link" href="#how">How to Play</a>
        </li>
        <li class="item-list-nav">
          <a class="item-link" href="#features">Features</a>
        </li>
        <li class="item-list-nav">
          <a class="item-link" href="#faq">FAQ</a>
        </li>
        <li class="item-list-nav">
          <a class="item-link" href="#contact">Contact</a>
        </li>
      </ul>
      <a class="take-link" href="#play-now">Play Now</a>

      <button class="burger-menu bth-open" type="button" aria-label="Open menu">
        <svg class="burger-icon" width="44" height="44">
          <use href="{=$icon-menu}"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
