<section class="how" id="how">
  <div class="container">
    <div class="how-text">
      <h1 class="how-title">How to Play</h1>
      <p class="how-desc">Simple word mechanics with relaxing progression</p>
    </div>

    <!-- Swiper -->
    <div class="swiper" id="mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="how-card">
            <source
              srcset="
                ./img/how/card1-desktop.png    1x,
                ./img/how/card1-desktop@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/how/card1-mobile.png    1x,
                ./img/how/card1-mobile@2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              class="how-card-img"
              src="./img/how/card1-mobile.png"
              alt="About illustration"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="how-card">
            <source
              srcset="
                ./img/how/card2-desktop.png    1x,
                ./img/how/card2-desktop@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/how/card2-mobile.png    1x,
                ./img/how/card2-mobile@2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              class="how-card-img"
              src="./img/how/card2-mobile.png"
              alt="About illustration"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="how-card">
            <source
              srcset="
                ./img/how/card3-desktop.png    1x,
                ./img/how/card3-desktop@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/how/card3-mobile.png    1x,
                ./img/how/card3-mobile@2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              class="how-card-img"
              src="./img/how/card3-mobile.png"
              alt="About illustration"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="how-card">
            <source
              srcset="
                ./img/how/card4-desktop.png    1x,
                ./img/how/card4-desktop@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/how/card4-mobile.png    1x,
                ./img/how/card4-mobile@2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              class="how-card-img"
              src="./img/how/card4-mobile.png"
              alt="About illustration"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="how-card">
            <source
              srcset="
                ./img/how/card5-desktop.png    1x,
                ./img/how/card5-desktop@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/how/card5-mobile.png    1x,
                ./img/how/card5-mobile@2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              class="how-card-img"
              src="./img/how/card5-mobile.png"
              alt="About illustration"
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="swiper-pagination" id="swiper-pagination"></div>
  </div>
</section>
