<div class="mobile-menu" data-visible="close">
  <div class="container">
    <button class="close-btn" type="button" data-action="close">
      <svg class="close-icon" width="22" height="22">
        <use href="{=$icon-close}"></use>
      </svg>
    </button>

    <nav class="nav-mob">
      <ul class="list-mob">
        <li class="item-mob">
          <a class="link-mob" href="#about">About</a>
        </li>
        <li class="item-mob">
          <a class="link-mob" href="#how">How to Play</a>
        </li>
        <li class="item-mob">
          <a class="link-mob" href="#features">Features</a>
        </li>
        <li class="item-mob">
          <a class="link-mob" href="#faq">FAQ</a>
        </li>
        <li class="item-mob">
          <a class="link-mob" href="#contact">Contact</a>
        </li>
      </ul>
      <a
        class="mob-menu"
        href="https://play.google.com/store/apps/details?id=com.DinozGames.RoyalWordsPuzzle&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
        >Play Now</a
      >
    </nav>

    <a class="nav-logo-mob" href="./index.html" aria-label="Site logo">
      <img src="{=$icon-logo}" width="70" height="70" alt="Logo" />
    </a>
    <ul class="mob-nav-footer">
      <li class="mob-nav-item">
        <a class="mob-nav-link" href="./page-2.html" rel="noopener noreferrer">
          Privacy Policy
        </a>
      </li>
      <li class="mob-nav-item">
        <a class="mob-nav-link" href="./page-3.html" rel="noopener noreferrer">
          Terms of Service
        </a>
      </li>
      <li class="mob-nav-item">2026 coretrail.online - All rights reserved.</li>
    </ul>
  </div>
</div>
