:root {
  --font-family: "Nunito Sans", sans-serif;
  --second-family: "Fredoka", sans-serif;
  --third-family: "Fredoka One", sans-serif;

  --wireframes-main: #fff;
  --wireframes-light-grey: #f4f4f4;
  --wireframes-grey: #ebebeb;
  --wireframes-dark-grey: #9d9d9d;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: var(--wireframes-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}