.footer {
  padding: 24px 0;
  background-color: #7b2d38;
}

.footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-nav-logo {
  order: 1;

  margin-bottom: 10px;
}

.footer-privacy {
  order: 2;
  margin-bottom: 10px;
}

.footer-terms {
  order: 3;
  margin-bottom: 10px;
}

.footer-rights {
  order: 4;
}

.footer-nav-item {

  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f8f6f0;
}


@media only screen and (min-width: 1440px) {
  .footer {
    padding: 8px 0;
  }

  .footer .container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 72px;
  }

  .footer-nav-logo {
    order: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 36px;
  }

  .footer-privacy {
    order: 3;
    margin-right: 72px;
    margin-bottom: 0;
  }

  .footer-terms {
    order: 4;
    margin-bottom: 0;
  }

  .footer-rights {
    order: 2;
    margin-right: 595px;
  }
}